/* .stock-container {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
  }
  
  .positive {
    color: green;
  }
  
  .negative {
    color: red;
  } */