
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>
	
	<div id="mySidenav" class="sidenav">
	<p class="logo" align="center"><span></span>MEESO</p>
  <a class="icon-a"><i class="fa fa-dashboard icons"></i> &nbsp;&nbsp;Dashboard</a>
  <a routerLink="/stocks/item"class="icon-a"><i class="fa fa-user-circle-o icons"></i> &nbsp;&nbsp;View Portfolio</a>
  <a routerLink="/stocks/create"class="icon-a"><i class="fa fa-money icons"></i> &nbsp;&nbsp;Trade a Security</a>
  <a routerLink="/stocks/list"class="icon-a"><i class="fa fa-book icons"></i> &nbsp;&nbsp;View History</a>

</div>
<div id="main">

	<div class="head">
		<div class="col-div-6" >
<span style="font-size:30px;cursor:pointer; color: white; padding-top:0px;" class="nav">&#9776; My Portfolio</span>
<span style="font-size:30px;cursor:pointer; color: white;" class="nav2"  >&#9776; My portfoilo</span>
</div>
	
	<div class="clearfix"></div>
</div>

	<div class="clearfix"></div>
	<br/>
	
	<div class="col-div-4">
		<div class="box">
			<p>100000<br/><span>Available balance</span></p>
		</div>
	</div>
	<div class="col-div-4">
		<div class="box">
			<p>200000<br/><span>Portfolio value</span></p>
		</div>
	</div>
	<div class="col-div-4">
		<div class="box">
			<p>12<br/><span>Holdings</span></p>
		</div>
	</div>
	
	<div class="clearfix"></div>
	<br/><br/>
	<div class="col-div-8">
		<div class="box-8">
		<div class="content-box">
			<p>Current Holdings</p>
			<br/>
			<table>
  <tr>
    <th>Company</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  <tr *ngFor="let stocks of stocks1">
			<td>{{stocks.ticker.ticker}}</td>
      <td>{{stocks.ticker.price}}</td>
		  <td>{{stocks.transactionType === "sell" ? -stocks.volume : stocks.volume}}</td>
      
		 </tr>
  <!--<tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>Helen Bennett</td>
    <td>UK</td>
  </tr>-->
  
  
</table>
		</div>
	</div>
	</div>

	<div class="col-div-4">
		<div class="box-4">
		<div class="content-box">
			<p>Total Returns</p>

			<div class="circle-wrap">
    <div class="circle">
      <div class="mask full">
        <div class="fill"></div>
      </div>
      <div class="mask half">
        <div class="fill"></div>
      </div>
      <div class="inside-circle"> 20% </div>
    </div>
  </div>
		</div>
	</div>
	</div>
		
	<div class="clearfix"></div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

  $(".nav").click(function(){
    $("#mySidenav").css('width','70px');
    $("#main").css('margin-left','70px');
    $(".logo").css('visibility', 'hidden');
    $(".logo span").css('visibility', 'visible');
     $(".logo span").css('margin-left', '-10px');
     $(".icon-a").css('visibility', 'hidden');
     $(".icons").css('visibility', 'visible');
     $(".icons").css('margin-left', '-8px');
      $(".nav").css('display','none');
      $(".nav2").css('display','block');
  });

$(".nav2").click(function(){
    $("#mySidenav").css('width','300px');
    $("#main").css('margin-left','300px');
    $(".logo").css('visibility', 'visible');
     $(".icon-a").css('visibility', 'visible');
     $(".icons").css('visibility', 'visible');
     $(".nav").css('display','block');
      $(".nav2").css('display','none');
 });

</script>

</body>
