
body{
	margin:0px;
  padding-left: 400px;
  padding-top: 200px;
  padding-bottom: 270px;
  background-color:#1b203d;
  background-image: url("trading.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	overflow: hidden;
	font-family: system-ui;
}
.clearfix{
	clear: both;
}
.logo{
	margin: 0px;
	align-items: center;
    font-weight: bold;
    color: rgb(29, 228, 235);
    margin-bottom: 30px;
}
.logo span{
	color:  rgb(29, 228, 235);
}
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #272c4a;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 30px;
}
.sidenav a {
  padding: 15px 8px 15px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
  background-color:#1b203d;
}
.sidenav{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.label {
  color: black;
  margin-left: 350px;
  padding: 15px;
}

.history {background-color: lightskyblue;} /* Green */

.stock-container {
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  padding-left:0px;
  padding-right: 100px;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.row{
  margin-top:40px;
  padding: 0 10px;
}
.clickable{
  cursor: pointer;   
}


.panel-heading div {
margin-top: -18px;
font-size: 15px;
}
.panel-heading div span{
margin-left:5px;
}
.panel-body{
display: none;
}

