
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<body>
<div id="mySidenav" class="sidenav">
		<p class="logo" align="center"><span></span>MEESO</p>
  <a href="/stocks/item" class="icon-a"><i class="fa fa-dashboard icons"></i> &nbsp;&nbsp;Dashboard</a>
  <a href="/stocks/item"class="icon-a"><i class="fa fa-user-circle-o icons"></i> &nbsp;&nbsp;View Portfolio</a>
  <a href="/stocks/create"class="icon-a"><i class="fa fa-money icons"></i> &nbsp;&nbsp;Trade a Security</a>
  <a href="/stocks/list"class="icon-a"><i class="fa fa-book icons"></i> &nbsp;&nbsp;View History</a>

</div>


<div class="container" style="padding-left:0px; padding-right:100px;">
    	<div class="row">
			<div class="col-md-9">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title" align="center">Your trade history</h3>
						
					</div>
					<div class="panel-body">
						<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers" />
					</div>
					<table class="table table-hover" id="dev-table">
						<thead>
							<tr>
								
								<th>Stock Name</th>
								<th>Stock Quantity</th>
								<th>Stock Price</th>
                                <th>Stock Status</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let stocks of stocks1">
			                   
			                    <td>{{stocks.ticker.ticker}}</td>
			                    <td>{{stocks.transactionType === "sell" ? -stocks.volume : stocks.volume}}</td>
                                <td>{{stocks.ticker.price}}</td>
                                <td>{{stocks.transactionType}}</td>
			
		                    </tr>
						</tbody>
                        
					</table>
				</div>
			</div>
			
			</div>
		</div>

</body>