body{
    height:100%;
    margin:0px;
    padding: 0px;
    background-color:#1b203d;
    overflow: hidden;
    font-family: system-ui;
    background-image: url("bvsb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.clearfix{
	clear: both;
}
.logo{
	margin: 0px;
	align-items: center;
    font-weight: bold;
    color: rgb(29, 228, 235);
    margin-bottom: 30px;
}
.logo span{
    color:  rgb(29, 228, 235);
}
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #272c4a;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 30px;
}
.sidenav a {
  padding: 15px 8px 15px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
  background-color:#1b203d;
}
.sidenav{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}


.form-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 100vh;
      margin-right: 10px;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px;
}

.form-content .form-items {
    border: 3px solid #fff;
    margin-left: 600px;
    padding: 50px;
    display: inline-block;
    width: 100%;
    min-width: 440px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 30px;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: white;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color:white;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 20px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color:white;
    margin-top: 30px;
    padding-top: 10px;
}

.form-content input[type=text], .form-content, .form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: center;
    border: black;
    outline: 0;
    border-radius: 6px;
    align-items:center;
    font-size: 15px;
    color: black;
}

.form-control{
  color:black;
  margin-top:50px;
  align-items:center;
}


.btn-outline-primary{
    background-color: lightcyan;
    outline: none;
    border: 150px;
     box-shadow: none;
     margin: 14px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: black;
    outline: black !important;
    border: black !important;
     box-shadow: none;
}

.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color:white;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: white;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
    border: 0;
    background-color: black;
    color: black;
}

.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.invalid-feedback{
    color: #ff606e;
}

.valid-feedback{
   color: #2acc80;
}
