
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>

<div id="mySidenav" class="sidenav">
	<p class="logo" align="center"><span>MEESO</span></p>
  <a class="icon-a"><i class="fa fa-dashboard icons"></i> &nbsp;&nbsp;Dashboard</a>
  <a href="/stocks/item"class="icon-a"><i class="fa fa-user-circle-o icons"></i> &nbsp;&nbsp;View Portfolio</a>
  <a href="/stocks/create"class="icon-a"><i class="fa fa-money icons"></i> &nbsp;&nbsp;Trade a Security</a>
  <a href="/stocks/list"class="icon-a"><i class="fa fa-book icons"></i> &nbsp;&nbsp;View History</a>

</div>
    <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">  
                        <form class="requires-validation" novalidate>
                          <p style="font-weight:bold;font-size:2em;margin-left:40px;margin-bottom:40px;">EXECUTE A TRANSACTION</p>
                          <div class="row">
                            <div class="col">
                              <select class="form-select col" [(ngModel)]="selectedType" name="typeOfTransaction" required>
                                 <option [ngValue]="undefined" disabled selected>BUY/SELL</option>
                                 <option *ngFor="let type of types"> {{type.name}} </option>
                              </select>
                            </div>
                            <div class="col-6">
                              <p style="color:white;font-weight:bold;">Margin Calculation:</p> 
                            </div> 
                          </div>
                          <div class="row">
                            <div class="col-6">
                              <input class="form-control" [(ngModel)]="quantity" type="Number" name="quantity" placeholder="Stock Quantity" required> 
                            </div>

                            <div class="col-6">
                             <input class="form-control" [(ngModel)]="price" type="text" name="price" placeholder="Stock Price" required> 
                             <!--<p style="color:white;font-weight:bold;">Price {{stocks.ticker.price}}</p> -->
                            </div>
                            </div>
                            <div class="col-12" align="center">
                              <select class="form-select mt-5"  [(ngModel)]="stocks2" (change)="onChange($event.target.value)" name="nameOfStock" required >
          
                                <option [value]="undefined" disabled selected>Choose Stock</option>
                                 <option *ngFor="let item of stocks2" [value]="item.price"> {{item.ticker}}</option>
                              </select>
                              {{nameOfStock | json}}
                            </div>  

                            <div class="form-check col-12">
                              <input class="form-check-input" type="checkbox" id="invalidCheck" style="margin-top:45px;" required>
                              <label class="form-check-label">I confirm that all data is correct</label>
                            </div>
                  
                            
                              <div class="form-button">
                                <button class="btn btn-outline-primary" (click)="addStock({ticker: nameOfStock, volume:quantity, price:price,transactionType:selectedType})" style="font-weight:bold;padding:auto;width:120px;height:40px;text-color:white;">BUY</button>
                                <!-- <button class="btn btn-success btn-lg btn-block" (click) = "addStock()">Add Shipper</button>-->
                              </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>